ItemDef(
    name: "Sturdy Bag",
    description: "Increases your inventory by 6 slots up to a maximum of 54.\n\n<Right-Click to use>",
    kind: Consumable(
        kind: "BagUpgradeTier1",
        effect: InventorySlotIncrease (
                    tier: 1,
                    slots: 6
                ),
    ),
)
