ItemDef(
    name: "Solid Bag",
    description: "Increases your Bag Space by 9.\n\nWorks from 55 to a maximum of 91 Spaces.",
    kind: Consumable(
        kind: "BagUpgradeTier2",
        effect: InventorySlotIncrease (
					tier: 2,
					slots: 9
				),
    ),
)
