ItemDef(
    name: "Small Pouch",
    description: "Increases your Bag Space by 3.\n\nWorks to a maximum of 36 Spaces.",
    kind: Consumable(
        kind: "BagUpgradeTier0",
        effect: InventorySlotIncrease (
					tier: 0,
					slots: 3
				),
    ),
)
