ItemDef(
    name: "Adventurer Backpack",
    description: "Increases your Bag Space by 18.\n\nWorks from 92 to a maximum of 127 Spaces.",
    kind: Consumable(
        kind: "BagUpgradeTier3",
        effect: InventorySlotIncrease (
					tier: 3,
					slots: 18
				),
    ),
)
