ItemDef(
    name: "Sturdy Bag",
    description: "Increases your Bag Space by 6.\n\nWorks from 37 to a maximum of 54 Spaces.",
    kind: Consumable(
        kind: "BagUpgradeTier1",
        effect: InventorySlotIncrease (
					tier: 1,
					slots: 6
				),
    ),
)
